body {

    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "SF Pro Display",
        sans-serif;

    background:
        radial-gradient(circle at top left,
        #dbeafe 0%,
        transparent 35%),

        radial-gradient(circle at bottom right,
        #e9d5ff 0%,
        transparent 35%),

        linear-gradient(
            135deg,
            #f8fafc,
            #eef2ff
        );

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: flex-start;

    padding: 50px 20px;

    overflow-x: hidden;

    overflow-y: auto;
}
